/* Layout */

/* Variáveis */

:root {
    --rosa: #c2588c;
    --preto: #000000;
    --branco: #ffffff;
    --rosaescuro: #af0848;
    --dourado: #c2a362;
    --rosaqueimado: #b27c71;
    --rosaclarinho: #ffdade;
}

/* CSS - reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lobster", sans-serif;
}

.container {
    display: flex;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: var(--rosaclarinho);
    padding: 10px 40px;
    color: var(--rosaescuro);
    border-radius: 30px;
    border: 2px solid var(--rosa);

}

/* Fim do Layout*/


/* Smartphone portrait */

/* Cabeçalho */
header {
    height: 70px;
    background-color: var(--rosaclarinho);
}

#logo img {
    width: 128px;
    height: 120px;
    margin-top: 10px;
    margin-left: 10px;
}

#check {
    display: none;
}

label {
    color: rgba(224, 8, 170, 0.75);
    font-size: 2.5rem;
    font-weight: 900;
    position: fixed;
    right: 15px;
    top: 5px;
}

nav ul {
    height: 100vh;
    background-color: rgba(250, 130, 250, 0.8);
    position: fixed;
    top: 70px;
    right: -65%;
    width: 65%;
    transition: all 0.5s;
}

/* Ação para caixa check box */

#check:checked~ul {
    right: 0px;
}

nav ul li {
    list-style: none;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid var(--rosaclarinho);
}

nav ul li a {
    text-decoration: none;
    color: var(--rosaescuro);
}

/* Principal */

main {
    height: 60vh;
    background: url(./img/banner.jpg);
    background-size: cover;

}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: var(--rosaescuro);
    font-family: "Oleo Script", system-ui;
    text-shadow: 0px 5px 10px var(--rosaqueimado), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    font-size: 1.4rem;
}

main h2 {
    color: var(--rosaclarinho);
    text-shadow: 0px 5px 10px var(--rosaescuro), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    font-family: "Lobster", sans-serif;
    margin-bottom: 35px;
}

/* Fim smartphone portrait*/

/* Smarthphone landscape */
@media (min-width: 576px) {

    /* Layout */
    .container {
        max-width: 540px;
    }

    /* Cabeçalho */
    nav ul {
        width: 40%;
        right: -40%;
    }

    /* Principal */
    main {
        height: 75vh;
    }

    main h1 {
        font-size: 2.1rem;
    }

    main h2 {
        font-size: 1.9rem;
    }
}

/* Fim - Smartphone landscape */

/* Tablet portrait */
@media (min-width: 768px) {

    /* Layout */
    .container {
        max-width: 720px;
    }

    /* Cabeçalho */
    nav ul {
        width: 40%;
        right: -40%;
    }

    /* Principal */
    main h1 {
        font-size: 3.1rem;
    }

    main h2 {
        font-size: 2.9rem;
    }

}

/* Fim - Tablet portrait */

/* Tablet landscape */
@media (min-width: 992px) {

    /* Layout */
    .container {
        max-width: 960px;
    }
}

/* Fim - Tablet landscape */

/* Notebook / PC */
@media (min-width: 1200px) {

    /* Layout */
    .container {
        max-width: 1140px;
        justify-content: space-between;
    }

    /* Cabeçalho */
    header {
        height: 100px;
    }

    #logo img {
        width: 194px;
        height: 194px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 21px;
    }

    nav ul li {
        border: 0;
        float: left;

    }

    ul li a {
        font-size: 1.5rem;
        font-weight: 400;
    }

    nav ul li a:hover {
        color: var(--dourado)
    }

    /* Principal */

    main {
        height: 85vh;
    }

    main h1 {
        font-size: 4.5rem;
    }

    main h2 {
        font-size: 4rem;
    }

    .btn {
        padding: 20px 40px;
        font-size: 2.5rem;
        border-radius: 50px;
    }
}

/* Fim - Notebook / PC */

/* FullHD / 4K */
@media (min-width: 1400px) {

    /* Layout */
    .container {
        max-width: 1140px;
    }

    /* Principal */

    main h1 {
        font-size: 5rem;
    }

    main h2 {
        font-size: 4rem;
    }

}

/* Fim - FullHD / 4K */